.page {
  margin: 0 0;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: aqua;
  height: 100vh;

  /* overflow: hidden; */
}

.display {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 5vh;
  row-gap: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: brown;
  margin: 0 0;
}

.nav__list {
  margin: 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav__item {
  background-color: chartreuse;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 7%;
}

.nav__button {
  font-size: 0.95rem;
  border: none;
  background-color: transparent;
}

.nav__button:hover {
  cursor: pointer;
}

.nav__item-dropdown {
  display: flex;
  flex-wrap: wrap;
}

.dropdown__content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav ul li > ul {
  display: none;
  flex-direction: column;
}

.nav ul li:hover > ul {
  display: flex;
}

.dropdown__content {
  list-style: none;
}
/* .nav__button-dropdown  {
}

.dropdown__content {
  display: none;
  flex-direction: column;
  width: 100%;
}

.nav__item-dropdown:hover .dropdown__content {
  display: flex;
  background-color: beige;
  height: 100%;
  cursor: pointer;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  width: 90%;
  row-gap: 5px;
  /* height: 85vh; */
}

.gallery__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  /* height: 25vh; */
  background-color: azure;
  border: 1px solid black;
  border-radius: 5px;
}

.card__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}

.card__row-title {
  justify-content: center;
  text-align: center;
}

.card__row-content {
  display: flex;
  justify-content: space-around;
}

.card__image {
  height: 20vh;
  width: 35vh;
  border-radius: 5px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(50% - 20px);
}

.card__content-name {
  width: 100%;
}

.content__title {
  font-weight: 700;
  font-size: 1rem;
}

/* .content__school_info {} */

/* .content__quick_facts {} */

.content__text-title {
  font-weight: 700;
  font-size: 0.85rem;
  width: 100%;
}

.content__text {
  font-size: 0.75rem;
}

.content__text-link {
  text-decoration: none;
}
