.body {
  font-family: fantasy;
  display: flex;
  justify-content: center;

  background: linear-gradient(
    to bottom right,
    rgba(0, 255, 136, 0.418),
    rgba(89, 0, 255, 0.418)
  );
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.7);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 1500px;
  min-height: 80vh;
  height: 100%;
}

.nav {
  display: flex;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 1;
}

.nav__item {
  flex: 1;
  align-items: center;
  transition: all 0.5s;
}

.item__heading {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  /* transition: all 0.5s; */
}

.item__heading:hover {
  background: rgba(63, 63, 63, 0.5);
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.greeting {
  text-align: center;
  margin: 15px auto;
}

.search__container {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.search__bar {
  display: flex;
  flex-direction: row;
  color: #acc2d6;
  background-color: #65737e;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  width: 50vw;
  height: 50%;
  font-size: 1.74vh;
}

.search__form {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: stretch;
  flex: 1;
}

.search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}

.material__icon {
  text-align: center;
  font-size: 36px !important;
}

.search__input {
  color: #acc2d6;
  background-color: #65737e;
  flex: 5;
  border: none;
  font-size: 2vh;
  font-weight: 100;
  line-height: 2vh;
}

.search__input:focus {
  background-color: #65737eb2;
  color: white;
}

.search__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
  text-align: center;
  align-self: center;
  color: #acc2d6;
  background-color: #65737e;
  height: 100%;
}

.search__filter:hover {
  cursor: pointer;
}

.search__cta {
  flex: 1;
  background-color: #acc2d6;
  color: #65737e;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.5vh;

  border-left: 2px solid #acc2d6;
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: none;
}

.search__cta:hover {
  cursor: pointer;
  color: #acc2d6;
  background-color: #65737e;
}

.header {
  font-size: 0.9rem;
  background-color: rgba(63, 63, 63, 0.438);
  border: 1px black;
  border-style: inset solid solid inset;
  width: 100%;
  align-items: center;
}

.gallery {
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  width: 90%;
  row-gap: 20px;
}

.gallery__card {
  width: 325px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: azure;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 5px 10px black;
}

.gallery__card:hover {
  width: 335px;
  height: 410px;
  box-shadow: 5px 8px 10px black;
  cursor: pointer;
}

.card__section {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

/* 
.card__section-img {
}

.card__section-name {
}

.card__section-location {
}
*/

.card__section-facts {
  display: flex;
  flex-direction: column;
}

.card__content {
  display: flex;
  flex: 1;
  justify-content: center;
}

.card__content-name {
  font-weight: 600;
  text-align: center;
}

/* 
.card__content-location {
}
*/

.card__content-facts {
  width: 100%;
  justify-content: stretch;
}

.card__content-website {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
.content__text {
}

.content__text-name {
}
*/

.content__title-facts {
  align-self: flex-start;
  flex: 1;
}

.content__data-facts {
  align-self: flex-end;
  flex: 1;
  text-align: end;
}

.content__url {
  text-align: center;
}

.content__image {
  height: 150px;
  width: 300px;
}

.page__row-more {
  display: none;
}

.more__results {
  border: 1px solid black;
  background: none;
  height: 4vh;
}

.more__results:hover {
  cursor: pointer;
  background-color: #acc2d6;
}
